body{
    background-color: whitesmoke;
    margin: 0;
    text-align: center;
    
}
/*!CSS div*/
.cabecera{
    margin: 0;
    background-color:  #e0ebe8;
    position: relative;
    padding: 10px 10px;

}
.cuerpo{
    background-color: #e0ebe8;
    margin: 0;
}
.saludo{
    position: relative;
    padding: 10px 10px;
    margin: 100px 100px;

}
.habilidades{
  text-align: center;
  margin: 100px 100px;
}
.habilidades-fila{
  width: 50%;       
  height: 250px;
  margin:0px auto;
}
.contacto{
  background-color: #F7ECDE;
  padding: 10 10 ;
  margin-bottom: 5px;
}
.container-inferior{
  background-color: #00D7FF;
  padding: 20px;
}
/*?Titulos*/
h2{
  font-family: 'Philosopher', sans-serif;
  font-size: 200%;
  color: #FAC213;
  font-weight: normal;
  
}
h3{
  font-family: 'Philosopher', sans-serif;
  font-size: 100%;
  color: rgb(134, 185, 168);
  font-weight: normal;
}
/*?CSS textos*/
.nombre{
    margin-top: 0;
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: rgb(134, 185, 168);
    line-height: 2;
}
.pprogrmador{
    margin-top: 0;
    display: inline-block;
    font-family: 'Sacramento', cursive;
    font-size: 200%;
    line-height: 2;
}
.hola{
    margin: 0%;
    font-family: 'Philosopher', sans-serif;
    font-size: 300%;
    color: rgb(134, 185, 168);
}
.psaludo{
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}
.hparrafo{
  font-family: 'Philosopher', sans-serif;
  text-align: left;
  text-align: justify;
  font-size: 20px;
}
.link-pie-pagina{
  font-family: 'Philosopher', sans-serif;
  color: #480fcc;
  text-align: center;
  margin: 10px;
}
.nombreapellido{
  font-family: 'Philosopher', sans-serif;
  color: white;
}
/*?imagenes*/
.facherito{
    position: relative;
    right: 45%;
    width: 8%;
    border: transparent;
    border-radius: 30%;
}
.ifacherito{
    right: 45%;
    width: 20%;
    border: transparent;
    border-radius: 30%;
}
.montana{
    display: inline-block;
    margin-top: 0;
}
.imghabilidad{
  right: 45%;
    width: 30%;
    border: transparent;
    text-align: center;
    float: right;
    margin: 30px;
}
.imghabilidad1{
  right: 45%;
    width: 30%;
    border: transparent;
    text-align: center;
    float: left;
    margin:30px;
}
/*!Animacion de imagenes*/
.nube1 {
    border: transparent;
    right: 5%;
    position: absolute;
    animation-duration: 15s;
    animation-name: nube1;
  }
  
  @keyframes nube1 {
    from {
      margin-right:70%;
      
    }
  
    to {
      margin-right: 0%;
      
    }
}
.nube2{
    border: transparent;
    margin: 0;
    left: 5%;
    margin-top: 0;
    position: absolute;
    animation-duration: 15s;
    animation-name: nube2;
  }
  
  @keyframes nube2 {
    from {
      margin-left:70%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
}
/*?boton*/
.btn{
  position: relative;
	display: block;
	padding: 5px 5px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 200px;
	height: 25px;
	margin-bottom: 10;
  margin-left: auto;
  margin-right: auto;
	overflow: hidden;
	color:rgb(134, 185, 168);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#E9DAC1
}
.btn:hover {
  background: #06283D;
  color: #FAC213;
}